

<mat-drawer-container class="page">
  <mat-drawer class="side" mode="side" opened>
    <div>
      <mat-toolbar class="bar top-bar" color="primary">
        <a mat-button routerLink="/home" routerLinkActive="active">
          <h2>RolePlayManager</h2>
        </a>
      </mat-toolbar>
    </div>
    <mat-divider></mat-divider>
    <div class="side-content">
      <mat-accordion>
        <mat-expansion-panel class="expansion-panel list-item">
          <mat-expansion-panel-header class="header">

            <mat-panel-title class="title">
              <mat-icon aria-hidden="false">manage_accounts</mat-icon>
              <span>GM Parties</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="list">
            <li *ngFor="let roleplay of GMRoleplays">
              <a [routerLink]="['/roleplay', roleplay.id]" mat-button>{{roleplay.name}}</a>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel class="expansion-panel list-item">
          <mat-expansion-panel-header class="header">
            <mat-panel-title class="title">
              <mat-icon aria-hidden="false">person</mat-icon>
              <span>PC Parties</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="list">
            <li><a mat-button matTooltip="Fatebound II">Cherry Lawson</a></li>
            <li><a mat-button matTooltip="Fatebound I">Harrel Dashner</a></li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>
      <mat-divider></mat-divider>
      <div class="nav-actions">
        <a mat-button (click)="openDialog()">Create</a>
        <a mat-button routerLink="/roleplay/join" routerLinkActive="active">Join</a>
      </div>
      <mat-divider></mat-divider>
      <mat-toolbar class="bar" color="primary">
        <a mat-button routerLink="/" routerLinkActive="active">
          <h3 class="username">{{username}}</h3>
        </a>
        <span class="bar-spacer"></span>
        <a class="action" mat-icon-button routerLink="/auth" matTooltip="Log Out" routerLinkActive="active" color="white" (click)="logOut()">
          <mat-icon>logout</mat-icon>
        </a>
      </mat-toolbar>
    </div>



  </mat-drawer>
  <mat-drawer-content class="page-content">


    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>


