@import "~src/rp-manager-theme"

$background-grey: #eeeeee

.widget-container
  display: flex
  flex-wrap: wrap
  padding: 10px
  background-color: $background-grey !important
  min-height: calc(100vh - 64px - 41px)


.top-bar
  background-color: white
  color: #424242
  height: 64px !important
  font-size: 22px

.top-tab-group
  background-color: white

::ng-deep .mat-tab-label
  height: 40px !important
  padding: 0 18px !important
  min-width: 120px !important


.roleplay-input input
  color: #424242
  font: 500 22px Roboto, "Helvetica Neue", sans-serif
  border: none
  overflow-wrap: break-word
  margin-right: 20px
  padding: 5px
  border-bottom: $primary 2px solid

.roleplay-input input:focus
  outline: none

.roleplay-title
  margin-right: 20px
  padding: 5px

.roleplay-actions
  display: flex
  align-content: center
  align-items: center

.roleplay-actions ::ng-deep .mat-icon
  align-self: center
  font-size: 20px
  height: 20px
  width: 20px
  line-height: 20px


::ng-deep .mat-tab-body-wrapper
  background-color: $background-grey !important

::ng-deep .mat-drawer-container
  background-color: $background-grey !important
