.authentication-container
  display: flex
  justify-content: center
  align-content: center
  background-image: url("../../assets/img/Endless-Constellation-Teal.svg")
  height: 100%
  flex-wrap: wrap
  flex-direction: column

.authentication-card p
  display: flex
  justify-content: center
  align-content: center
  margin-top: 40px

.authentication-card mat-form-field
  width: 80%

.alert-message
  margin-top: 10px
  background-color: darkred
  color: lightpink
  border-radius: 5px
  padding: 5px
  text-align: center
