@import "~src/rp-manager-theme"

.top-bar
  background-color: white
  color: #424242
  font-size: 18px

.top-tab-group
  background-color: white

::ng-deep .mat-tab-label
  height: 40px !important
  padding: 0 18px !important
  min-width: 120px !important
